section#sidebar
	div#intro
		p
			| <strong>TooBug</strong>，前端工程师，目前就职于<a href="http://cdc.tencent.com" target="_blank">腾讯CDC</a>。关注体验设计，关注大前端生态圈。
		p
			| 新浪微博：<a href="http://weibo.com/toooobug" target="_blank">@TooBug</a>
		p
			| 腾讯微博：<a href="http://t.qq.com/TooBug" target="_blank">@TooBug</a>
		p
			| GitHub：<a href="https://github.com/TooooBug target="_blank">@TooBug</a>