* {
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: "navfont";
	src: url("../fonts/HelveticaUltraLight.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	width: 85%;
	margin: 0 auto;
	font: 400 1.0em Lucida Sans Unicode, Myriad Pro, Hiragino Sans GB, Heiti SC, Microsoft YaHei, Verdana, SimHei;
	color: #666;
}


#nav {
	margin: 0.5em 0;
	width: 100%;
	padding: 10px 0;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

#nav li {
	float: left;
	clear: none;
}

#nav li a {
	margin-left: 40px;
	padding-top: 20px;
	display: block;
	text-decoration: none;
	font-size: 1.1em;
	color: black;
	letter-spacing: -1px;
	font-family: navfont;
}

#nav li a:hover {
	background: #FFF url('image/arrow.gif') no-repeat top center;
}

#head {
	margin: 0.5em 0;
	width: 100%;
	line-height: 0.8em;
}

#head h1 {
	font-size: 5.5em;
	color: #666;
	margin-top: 90px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	letter-spacing: -0.1em;
}

#head h2 {
	font-size: 2.5em;
	margin-top: 1.3em;
	padding: 0;
	margin-bottom: 40px;
	letter-spacing: -0.1em;
	margin-left: 0.8em;
}

#main {
	position: relative;
	margin: 50px 0 0 0;
	padding: 0;
	width: 100%;
}

#right {
	width: 30%;
	float: right;
	//border-top: 5px solid #ECECEC;
	padding-top: 40px;
	text-align: right;
	margin-bottom: 40px;
	margin-right:2px;
}

#right ul, .right2 ul {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

#right li, .right2 li {
	padding: 5px 0 5px 20px;
}

#right li a, .right2 li a {
	padding: 0 0 0 20px;
	color: #999;
	font-size: 1.1em;
	text-decoration: none;
}

#right li a:hover, .right2 li a:hover {
	background: #FFF url('image/bullet.gif') no-repeat left center;
}

#content {
	width: 64%;
	margin-right: 35%;
	border-top: 5px solid #ECECEC;
	padding-top: 40px;
	margin-bottom: 40px;
}

h1 {
	font-size: 1.4em;
	color: #444;
	letter-spacing: -0.1em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.2em;
	//margin-top: -0.4em;
	padding-top: 0px;
	letter-spacing: -1px;
}

h3 {
	font-size: 1.2em;
	color: #666;
	letter-spacing: -0.1em;
	margin-bottom: 10px;
}

p {
	line-height: 1.8em;
	margin: 10px 0 20px 0;
	color: #5A5A5A;
	font-size: 0.9em;
}

#content a, #content2 a, #foot a {
	text-decoration: none;
}

#content a:hover, #content2 a:hover, #foot a:hover {
	border-bottom: none;
}

img.content, a img.content {
	float: right;
	padding: 4px;
	border: 1px solid #D6D6D6;
	margin: 10px 0 10px 10px;
}

a:hover img.content {
	border: 1px solid #BBB;
}

img.color, a img.color {
	float: left;
	padding: 1px;
	border: 1px solid #CCC;
	margin: 0 8px 0 0;
}

a:hover img.color {
	border: 1px solid #999;
}

.right2 {
	float: right;
	width: 160px;
	margin-left: 15px;
	padding-top: 40px;
	border-top: 5px solid #ECECEC;
	text-align: right;
	font-size: 0.9em;
}

.right2 h3 {
	letter-spacing: -1px;
}

#content2 {
	margin-right: 365px;
	border-top: 5px solid #ECECEC;
	padding-top: 40px;
}

ol {
	color: #AAA;
	font-size: 1.0em;
	padding: 10px;
}

ol span {
	font-size: 1.0em;
	color: #5A5A5A;
	font-style: normal;
}

ol li {
	margin-left: 25px;
	padding: 4px 0
}

#content ul, #content2 ul {
	list-style-type: none;
	padding: 10px;
	color: #5A5A5A
}

#content ul li, #content2 ul li {
	padding-left: 17px;
	background: url('image/bullet2.gif') no-repeat left center;
	margin-left: 10px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1em;
  border-collapse: collapse;
}

table caption {
  margin-top: 20px;
  padding: 0 0 0.5em 3px;
  font-size: 1.2em;
  text-align: left;
  letter-spacing: -1px;
}

table th,
table td {
  text-align: left;
  vertical-align: top;
  padding: 4px 7px !important;
  padding: 6px 10px;
}


thead th {
  border-top: 2px solid #CCC;
  border-bottom: 1px solid #CCC;
}


tbody td {
  border-bottom: 1px solid #ECECEC;
}

tbody tr:hover {
  background-color: #F0F0F0;
}

.blockquote {
	display: block;
	width: 100%;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	background-color: #F0F0F0;
	margin: 10px 0 20px 10px;
	padding: 5px;
	font-style: italic;
}

form label{
	display:block;
}

form input.text, form textarea{
	width:100%;
	border:1px #E0E0E0 solid;
	color:#666;
	padding:4px 5px;
	font:12px;
	background-color: #F3F3F3;
}

form input.text:hover, form textarea:hover{
	border:1px #E0E0E0 solid;
}

form input.text:focus, form textarea:focus{
	border:1px #CCC solid;
	color:#666;
}

form input.button{
	margin-right:8px;
	padding:3px 5px;
	font:12px;
}

* html form input.text,

* html form textarea{
	border-color: #CCC;
	color:#333;
}

#foot {
	width: 100%;
	border-top: 3px solid #ECECEC;
	//padding: 40px 0 40px 0;
	margin-top: 40px;
}

/* gren_muted start*/
#nav li a:hover,#nav li a.select{
	color: #92BF92;
}

#head h2 {
	color: #92BF92;
}

#right li a:hover, .right2 li a:hover {
	color: #92BF92;
}

h2 {
	color: #92BF92;
}

#content a, #content2 a, #foot a {
	color: #92BF92;
	border-bottom: 1px dotted #92BF92;
}

img.content, a img.content {
	background-color: #D3ECCA;
}

thead th {
  color: #92BF92;
}
/* gren_muted end*/

#fuck {
  font-size: 2.2em;
}

#miga {
  margin: -186px 86px 0 0;
}

